package dev.necraul.aoc2015.day;

import java.util.List;

import dev.necraul.aoc2015.interfaces.GenericPuzzle;

public class Daynumber implements GenericPuzzle {

    public Object solvePart1(List<String> lines) {
        return 0;
    }

    public Object solvePart2(List<String> lines) {
        return 0;
    }
}
